html {
    background: rgb(15, 14, 0);
}

@font-face {
    font-family: 'Pneumatics';
    src: url(/Material/Font/pneumatics-family/pneumatics.brk.ttf);
}

#text {
    position: absolute;
    color: aliceblue;
    font-family: 'Pneumatics';
    font-size: 20px;
    margin-left: 80px;
    margin-top: 50px;
}

.ghost {
    position: absolute;
    width: 600px;
    height: auto;
    margin-left: 280px;
    margin-top: -80px;
}

#seeAllSuspects {
    position: absolute;
    width: 300px;
    height: auto;
    margin-left: 60px;
    margin-top: 150px;
    opacity: 0.8;
    transform: scale(1);
    /* duration = 0.2s, no delay */
    transition: all 0.2s ease-in-out 0s;
}

#seeAllSuspects:hover {
    transform: scale(1.1);
    opacity: 1;
}

/* All Little Buttons */

.littleBs {
    position: absolute;
    width: 20px;
    height: auto;
    opacity: 0;
    transform: scale(1);
    /* duration = 0.2s, no delay */
    transition: all 0.2s ease-in-out 0s;
}

.littleBs:hover {
    transform: scale(1.1);
    opacity: 1;
}

#littleB01 {
    margin-left: 430px;
    margin-top: 155px;
}

#littleB02 {
    margin-left: 596px;
    margin-top: 175px;
}

#littleB03 {
    margin-left: 400px;
    margin-top: 320px;
}

#littleB04 {
    margin-left: 545px;
    margin-top: 290px;
}

#littleB05 {
    margin-left: 605px;
    margin-top: 305px;
}

#littleB06 {
    margin-left: 582px;
    margin-top: 330px;
}

#littleB07 {
    margin-left: 555px;
    margin-top: 350px;
}

#littleB08 {
    margin-left: 500px;
    margin-top: 383px;
}

#littleB09 {
    margin-left: 663px;
    margin-top: 335px;
}

/* All Ghost Statements */

.ghostStatements {
    display: none;
}

#ghostStatement01 {
    position: absolute;
    width: 500px;
    height: auto;
    margin-left: 750px;
    margin-top: 30px;
}

#ghostStatement02 {
    position: absolute;
    width: 500px;
    height: auto;
    margin-left: 750px;
    margin-top: 80px;
}

#ghostStatement03 {
    position: absolute;
    width: 500px;
    height: auto;
    margin-left: 750px;
    margin-top: 130px;
}

#ghostStatement04 {
    position: absolute;
    width: 500px;
    height: auto;
    margin-left: 750px;
    margin-top: 180px;
}

#ghostStatement05 {
    position: absolute;
    width: 500px;
    height: auto;
    margin-left: 750px;
    margin-top: 230px;
}

#ghostStatement06 {
    position: absolute;
    width: 500px;
    height: auto;
    margin-left: 750px;
    margin-top: 280px;
}

#ghostStatement07 {
    position: absolute;
    width: 500px;
    height: auto;
    margin-left: 750px;
    margin-top: 330px;
}

#ghostStatement08 {
    position: absolute;
    width: 500px;
    height: auto;
    margin-left: 750px;
    margin-top: 380px;
}

#ghostStatement09 {
    position: absolute;
    width: 500px;
    height: auto;
    margin-left: 750px;
    margin-top: 430px;
}