html {
    background: rgb(12, 12, 2);
}

@font-face {
    font-family: 'Pneumatics';
    src: url(/Material/Font/pneumatics-family/pneumatics.brk.ttf);
}

#suspects {
    color: aliceblue;
    font-family: 'Pneumatics';
    font-size: 40px;
    font-weight: 500;
    margin-left: 80px;
    margin-top: 70px;
}

/* Oakley */

#oakley {
    position: absolute;
    width: 450px;
    height: auto;
    margin-left: -70px;
    margin-top: -110px;
    opacity: 0.8;
    transform: scale(1);
    transition: all 0.2s ease-in-out 0s;
}

#oakley:hover {
    transform: scale(1.1);
    opacity: 1;
}

/* Ghost */

#ghost {
    position: absolute;
    width: 450px;
    height: auto;
    margin-left: 280px;
    margin-top: -120px;
    opacity: 0.8;
    transform: scale(1);
    transition: all 0.2s ease-in-out 0s;
}

#ghost:hover {
    transform: scale(1.1);
    opacity: 1;
}

/* Andras */

#andras {
    position: absolute;
    width: 470px;
    height: auto;
    margin-left: 560px;
    margin-top: -140px;
    opacity: 0.8;
    transform: scale(1);
    transition: all 0.2s ease-in-out 0s;
}

#andras:hover {
    transform: scale(1.1);
    opacity: 1;
}

/* Bobo */

#bobo {
    position: absolute;
    width: 450px;
    height: auto;
    margin-left: 840px;
    margin-top: -90px;
    opacity: 0.8;
    transform: scale(1);
    transition: all 0.2s ease-in-out 0s;
}

#bobo:hover {
    transform: scale(1.1);
    opacity: 1;
}
