html {
    background: rgb(15, 14, 0);
}

@font-face {
    font-family: 'Pneumatics';
    src: url(/Material/Font/pneumatics-family/pneumatics.brk.ttf);
}

#suspects {
    color: aliceblue;
    font-family: 'Pneumatics';
    font-size: 40px;
    font-weight: 500;
    margin-left: 80px;
    margin-top: 70px;
}

#ghost {
    width: 450px;
    height: auto;
    margin-left: 60px;
    margin-top: -120px;
    opacity: 0.8;
    transform: scale(1);
    transition: all 0.2s ease-in-out 0s;
}

#ghost:hover {
    transform: scale(1.1);
    opacity: 1;
}